
@media only screen and (min-width: 1239px) (max-device-width: 1439px){
  /* Desktop */
	.logomain{left: -80%;}
	.head2{ left:360%;}
 	.container, .container2{ left: -3%;}
 	.container{gap:34px 60px;}
 	.container2{gap:34px 37px;}
 	.text1{left:1754%;}
 	.text2{left: -2280%;}
 	.text3{left: 1035%;}
 	.se1{left:-545%;}
 	.se2{left:925%;}
 	.se3{left:537%;}
 	.se4{left:-1080%;}
 	.stroka1, .stroka2{width:130%;}
	.fon3{height: 1550px;}
 	.container3{gap: 0px 20px; transform: scale(0.9); left:-5%; bottom: 90%;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
	.logomain{left: -132%; width:274px; height: 240px; font-size: 20px;}
	.sun{left:468%; bottom:310%; width:250px; height:250px;}
	@keyframes circle{
	  0%{transform:rotate(0deg) translate(-150px) rotate(0deg);}
	  100%{ transform:rotate(-360deg) translate(-150px) rotate(360deg);}
	}
	.head{font-size: 18px; width:203px;}
	.head1{left:20%;}
	.head2{left: 300%;}
	.stroka1, .stroka2{width:190%; animation-duration: 4s;}
	@keyframes lin {
	  0%{ transform: translate(-20%, 0);}
	  50% {transform: translate(30%, 0);}
	100%{ transform: translate(-20%, 0);}
}
.shapka1, .shapka2, .stars1, .stars2, .niz1, .niz2{ animation-duration:12s;}
/*.container, .container2 {width: 50%; height: 50%;}*/
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* iPhone */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
	}
